<div class="container" style="margin-top: 50px">
	<div class="row">
		<div class="span12 center">
			<h1>About Us</h1>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="span6">
			<h2>What is AthleteTrax?</h2>
			<p>AthleteTrax is a Web-based platform for NCAA athletic programs that bridges the gap between an athletic administration and its student athletes through integrated scheduling, instant communication, and data and forms management.</p> 
			<br>
			<h2>What is our Mission?</h2>
			<p>AthleteTrax aims to maximize an NCAA student athlete's academic performance, while simultaneously simplifying the daily lives of collegiate athletic program administrators.</p>
			<br>
			<h2>When was AthleteTrax founded?</h2>
			<p> AthleteTrax LLC was founded in December 2011 in Pittsburgh, Pennsylvania by Jon Halpern, Reinaldo Coriano, Betsy Zander, and Brian Jeffrey Gross. </p>
		</div>
		<div class='span6'>
			<h2>Why are we passionate about NCAA sports?</h2>
			<p> Each of the four AthleteTrax Co-founders have competed at high levels in a wide range of sports, from football and golf to ice hockey and gymnastics. The four co-founders were all recruited to play NCAA athletics in one sport or another, and two of them have had personal experience playing Division I sports. We know what it's like to be an NCAA athlete. We know how hard it is to succeed both on and off the playing field. We want to be the ones who finally make a difference in the futures of NCAA student athletes, because we have all faced the harsh reality of just how hard it is to play professional sports.</p>
			<br>
			<h2>Achievements</h2>
			<p> AthleteTrax is honored to have been awarded three prizes at the George Washington University's 2012 Annual Business Plan Competition. AthleteTrax came in second place overall out of 144 entrants, while also winning the best undergraduate team award and the audience choice award. </p>
		</div>
	</div>
</div>









