<div class="container" style="margin-top: 50px">	
	<div class = 'row'>
		<div class = 'span6'>
			<h2>Brian Jeffrey Gross</h2>
			<h2>(Co-founder, Chief Information Officer)</h2>
			<p>Brian is currently taking time away from his studies to serve as AthleteTrax's lead developer. Brian manages the AthleteTrax development team, working with them on the full scale build out of the AthleteTrax user platform. Brian attended Elon University for one semester in the fall of 2011, where he majored in English. Brian will be returning to school at the University of Pittsburgh in the fall of 2012 to complete his undergraduate education; he will be majoring in Business Administration with a concentration in Management Information Systems.</p><p>Brian has worked for a variety of different companies, including his family's scrap metal business, Wimco Metals and Meyers Management real estate company in Pittsburgh, PA. Brian has also been published in two literary journals for his creative writing and worked for Textbroker.com as a free lance professional writer. Before, during, and after Brian's time at Elon University, he pursued playing golf professionally. Brian lives in Pittsburgh, PA and he holds down the fort at AthleteTrax's Pittsburgh headquarters when his fellow Co-founders are in Washington DC.</P>
		</div>
		<div class = 'span6 center'>
			<%= image_tag("bjggolf.png") %>
		</div>
	</div>
</div>
