<div class="container" style="margin-top: 50px">
	<div class="row">
		<div class="span12 center">
			<h1>AthleteTrax Development</h1>
		</div>
	</div>
	<div class = 'row'>
		<div class = 'span6'>
			<br>
			<br>
			<br>
			<p>AthleteTrax is currently developing Version 1.0 of the AthleteTrax user platform. Testing will begin in the Fall of 2012 at The George Washington University. AthleteTrax will be ready for a full scale launch beginning in the spring of 2013.</p> 
			<br>
			<p>AthleteTrax developers Mengyao Chu and Cheng Guo are pictured on the right, as they are hard at work on the AthleteTrax user platform!</p>
		</div>
		<div class="span6 center">
			<br>
			<%= image_tag("interns.png") %>
		</div>
	</div>
</div>









