<div class="container" style="margin-top: 50px">
	<div class = 'row'>
		<div class = 'span6'>
			<h2>Jon Halpern</h2>
			<h2>(Co-founder, Chief Executive Officer)</h2>
			<p>Jon is a sophomore in The George Washington School of Business, pursuing a dual major in Entrepreneurship and Finance. Jon interned for both CB-Richard Ellis and Modcloth during the summers of 2008 and 2009 respectively and he is currently the manager of the in-room safe program for SafePlace-USA at The George Washington University, where he oversees 20 employees and 800 safes. Most notably, Jon is also working for Innovation Works as an intern. Innovation Works is a seed-stage investment firm that invests in early stage technologies, which is located in Pittsburgh, PA.</p><p>Jon has considerable business experience working in both start-up and established companies along with an extensive athletic background in golf and baseball. Jon has the necessary skill set to lead the AthleteTrax management team as CEO and he has the right mindset to both grow AthleteTrax as a business and to make a difference in the world of NCAA sports. When not at GWU, Jon lives in Pittsburgh, PA with his parents and sister.</p> 
		</div>
		<div class = 'span6 center'>
			<br>
			<br>
			<br>
			<br>
			<%= image_tag("jhalpprofile.png") %>
		</div>
	</div>
</div>
