<div class = "container">
<h1> AthleteTrax Platform Login </h1>
<br>
<h2> Click on your school's logo to log into the AthleteTrax User Platform </h2>
<div class = 'row'>
	<div class = 'span12'>
		<%= link_to image_tag("gwlogo.png", alt: "AthleteTrax"), '/gwu/sign_in', id:"logo"%>
	</div>
</div>


