<div class="container" style="margin-top: 50px">
	<div class = 'row'>
		<div class = 'span6'>
			<h2>Reinaldo Coriano</h2>
			<h2>(Co-founder, Chief Operations Officer)</h2>
			<p>Reinaldo is a sophomore in The George Washington School of Business, pursuing a major in Accounting. Reinaldo also works as an agent's aide for the United States Secret Service in Washington DC and his work experience for a key government operations program gives him the skill set to oversee day to day operations for AthleteTrax, where he focuses on sales, accounting, and customer relations.</p><p>Reinaldo played football and track and field at a high level for most of his life and was recruited by several NCAA schools coming out of high school for both sports. He chose to focus on his studies, but has found that AthleteTrax is a perfect way to stay in touch with his love for sports. Reinaldo is originally from Puerto Rico, but he now lives on Staten Island, NY with his family when not at GWU.</p>
		</div>
	</div>
</div>
