<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to AthleteTrax, <%= @user.first_name %></h1>
    <p>
      An account has been created for you and
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      Please create a password using this link: <%= @url %>.
    </p>
    <p>The AthleteTrax Technology Team</p>
  </body>
</html>