<% if current_user  %>
	<%= render 'header' %>
<% end %>

<div class="container">
<h2>Editing My Course</h2>
	<% if notice %><p class="alert"><%= notice %></p><% end %>
	<%= render 'form' %>
	
</div>
<script type="text/javascript">
<!-- 
	
-->
</script> 