<% if current_user  %>
	<%= render 'header' %>
<% end %>
<div class="container">
<% if notice %><p class="alert"><%= notice %></p><% end %>
<div id="calendar"></div>
</div>
<script type="text/javascript">
<!-- 
-->
</script> 