
<div class="box">
<fieldset>
 <legend> Add images </legend>
<%= f.semantic_fields_for :attachments  do |attachment_form|  %>
     <p>
     <%= image_tag(attachment_form.object.file.url) if attachment_form.object.file? %>
     </p>
     <p>
         <%= attachment_form.input :file , :as => :file, :required => "required"  %>
         <%= attachment_form.input :file_cache , :as => :hidden   %>
     </p>

 <% end %>

 <div id="p_scents"></div>


  <h4><a href="#" id="addScnt">Add Images</a></h4>
 </fieldset>
</div>



<script type="text/javascript">
  $(function() {
        var scntDiv = $('#p_scents');
        var i = $('#p_scents p').size() + 1;

        $('#addScnt').live('click', function() {
                 $('<p>' +
                    '<label for="p_scnts">' +
                    '<input type="file" id="restaurant_attachments_attributes_'+i+'_file" size="20" name="restaurant[attachments_attributes]['+i+'][file]" value="" placeholder="image",  required = "required" />' +
                    '</label>' +
                    '<a href="#" id="remScnt">Remove</a>' +
                   '</p>'
                 ).appendTo(scntDiv);
                i++;
              return false;
        });

        $('#remScnt').live('click', function() {
                if( i > 2 ) {
                        $(this).parents('p').remove();
                        i--;
                }
                return false;
        });
});
</script>