<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js">
</script>

<script>
    FB.init({
        appId:"182440145193362", cookie:true,
        status:true, xfbml:true
    });
</script>
